canvas {
  border: 1px solid #000;
  position: absolute;
}

h1 {
  text-align: center;
  font-family: cursive;
  color:black;
}

h2 {
  text-align: center;
  font-family: cursive;
  color:black;
}

body {
  background-image: url("back.jpg");
  background-position: 50% 26%;
}
